<select onchange={{action 'selectValue'}}>
    {{#each obj.arr as |item|}}
        <option value={{item}}>{{item}}</option>
    {{/each}}
</select>

{{displayText}}
<br>
{{selectedValue}}
<br>
{{miscValue}}
